<! DOCTYPE html>
<html>
<head>
    <title>AG WADA ENTERPRISE<title>

    <style>
      body{
          background-color:
lightblue:
         }
H1{
colors:darkblue:
text-align: center:
 
 }
   p{
    
    colors: black:
    font-size:18px;
  }
 </style>
</head>
<body>

<h1>WELCOME TO AG WADA ENTERPRISE CSS</h1>
<p>now this page has a good color👍</p>

</body>
</html>
<style>
       box{
         background-colors: yellow:
         padding:20px:
         margin:20px:
         border-redius:10px;
  }
</styl>
<div class="box">
  <h2>this is box</h2>
  <p>is very good 😎</p>
  </div>
<style>
  body {
    font-family:Arial:
    background-colors:#f0f0f0;
    }

 container{
 width:80%;
 margin: auto;
 background: white;
 padding:20px;
 border-redius:10px;
}
</style>

<div class="container">
<h1>My website</h1>
<p>wanna shafi Yana da tsari Mai kyau yanzu</p>
</div>
